@keyframes flickerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.scoreAnimate,
.wrong {
  border-radius: 10px;
  text-align: center;
  height: 45px;
  margin-top: 20px;
  line-height: initial;
  position: fixed;
  left: 45%;
  overflow: hidden;
  z-index: 99;
  -webkit-animation: flickerAnimation 1s linear 1 alternate;
  -moz-animation: flickerAnimation 1s linear 1 alternate;
  -o-animation: flickerAnimation 1s linear 1 alternate;
  animation: flickerAnimation 1s linear 1 alternate;
}

.scoreAnimate {
  background-color: green;
}

.wrong {
  background-color: red;
  width: 60px;
}

.listAnimation {
  animation-name: flickerAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.fade {
  /*animation-name: fadeAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s;*/
  -webkit-animation: fadeAnimation 1s forwards linear 1s;
  -moz-animation: fadeAnimation 1s forwards linear 1s;
  -o-animation: fadeAnimation 1s forwards linear 1s;
  animation: fadeAnimation 1s forwards linear 1s;
}

#slide {
  margin-top: -600px;
  -webkit-animation: slide 1s forwards linear;
  -moz-animation: slide 1s forwards linear;
  -o-animation: slide 1s forwards linear;
  animation: slide 1s forwards linear;
}

@-webkit-keyframes slide {
  0% {
    margin-top: -360px;
  }
  10% {
    margin-top: -320px;
  }
  20% {
    margin-top: -280px;
  }
  30% {
    margin-top: -240px;
  }
  40% {
    margin-top: -200px;
  }
  50% {
    margin-top: -160px;
  }
  60% {
    margin-top: -120px;
  }
  70% {
    margin-top: -80px;
  }
  80% {
    margin-top: -40px;
  }
  90% {
    margin-top: 0px;
  }
  100% {
    margin-top: 2em;
  }
}

@keyframes slide {
  0% {
    margin-top: -360px;
  }
  10% {
    margin-top: -320px;
  }
  20% {
    margin-top: -280px;
  }
  30% {
    margin-top: -240px;
  }
  40% {
    margin-top: -200px;
  }
  50% {
    margin-top: -160px;
  }
  60% {
    margin-top: -120px;
  }
  70% {
    margin-top: -80px;
  }
  80% {
    margin-top: -40px;
  }
  90% {
    margin-top: 0px;
  }
  100% {
    margin-top: 2em;
  }
}

@-moz-keyframes slide {
  0% {
    margin-top: -360px;
  }
  10% {
    margin-top: -320px;
  }
  20% {
    margin-top: -280px;
  }
  30% {
    margin-top: -240px;
  }
  40% {
    margin-top: -200px;
  }
  50% {
    margin-top: -160px;
  }
  60% {
    margin-top: -120px;
  }
  70% {
    margin-top: -80px;
  }
  80% {
    margin-top: -40px;
  }
  90% {
    margin-top: 0px;
  }
  100% {
    margin-top: 2em;
  }
}

@-o-keyframes slide {
  0% {
    margin-top: -360px;
  }
  10% {
    margin-top: -320px;
  }
  20% {
    margin-top: -280px;
  }
  30% {
    margin-top: -240px;
  }
  40% {
    margin-top: -200px;
  }
  50% {
    margin-top: -160px;
  }
  60% {
    margin-top: -120px;
  }
  70% {
    margin-top: -80px;
  }
  80% {
    margin-top: -40px;
  }
  90% {
    margin-top: 0px;
  }
  100% {
    margin-top: 2em;
  }
}
